$b: '.header';

#{$b} {
	padding-top: 20px;
	padding-bottom: 20px;
	
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	
	&__title {
		font-size: 1.75rem;
		font-weight: 700;
		font-family: "PT Serif", Georgia, sans-serif;
	}

	&__menu {
		margin-top: 10px;
	}
}