@import '../common/__list-nostyle/common__list-nostyle';

$b: '.menu';

#{$b} {
	@extend .common__list-nostyle;

	&_sort {
		text-align: right;

		#{$b}__item {
			margin-left: 15px;
			margin-right: 0;

			font-size: 12px;

		}

		.link {
			border-color: rgba(162, 162, 162, 0.2);

			color: #919191;
			font-weight: 700;

			&:hover {
				border-color: rgba(162, 162, 162, 0.7);

				color: #333;
			}

			&_active {
				&, &:hover {
					color: #000;

					border-color: transparent;
				}
			}
		}
	}

	&__item {
		display: inline-block;
		margin-right: 15px;
		margin-top: 5px;

		&_to-current {
			display: none;
		}

		&_to-comments {
			display: none;
		}

		&_right {
			float: right;
			margin-right: 0;
			margin-left: 15px;
		}

		&_admin {
			display: none;
		}
	}
}

@media (max-width: 1000px) {
	#{$b}__item_right {
		float: none;
		margin-right: 15px;
		margin-left: 0;
	}
}