@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin triangle($direction, $size, $color, $type: inline-block) {
	display: $type;
	$direction-map: (
		'top': 'bottom',
		'right': 'left',
		'bottom': 'top',
		'left': 'right'
	);
	$opposite-direction: map-get($direction-map, $direction);
	
	@each $d in top right bottom left {
		@if $d == $opposite-direction {
			border-#{$d}: $size solid $color;
		}
		@else {
			@if $d != $direction {
				border-#{$d}: $size solid transparent;	
			}
		}
	}
}