@import '../link/link';

$b: '.onenews';

#{$b} {
	padding-top: 20px;
	
	&__title {
		border-color: rgba(0, 0, 0, 0.2);

		color: #000;
		font-size: 2rem;
		font-weight: 700;
		font-family: $serif;
	}

	&__info {
		margin-top: 20px;
		
		color: #666;
		font-size: 0.85rem;
		letter-spacing: 1px;
	}

	&__body {
		margin-top: 20px;
		margin-bottom: 35px;
	}

	&__comments {
		margin-top: 45px;
	}

	&__geek {
		position: relative;
		top: 2px;
		
		display: none;
		margin-right: 5px;
		
		&:after {
			content: url(../files/geek.svg);
		}
	}

	#disqus_thread a {
		@extend .link;
	}
}