@import '../common/__list-nostyle/common__list-nostyle';

$b: '.news';

#{$b} {
	&_mobile {
		#{$b}__manage {
			display: block;
		}	

		#{$b}__mobile-buttons {
			display: inline-block;
		}

		#{$b}__title {
			hyphens: auto;
		}
	}

	&_disabled-sort {
		#{$b}__mobile-buttons {
			display: none;
		}

		#{$b}__button_first {
			display: none;
		}
	}

	&_admin {
		#{$b}__item {
			@media (max-width: 500px) {
				margin-top: 80px;
			}
		}
	}

	&_deleted {
		margin-top: 40px;
		
		#{$b}__manage {
		    top: -20px;
		    
		    @media (max-width: 500px) {
		    	top: -15px;
		    }
		}
		
		#{$b}__item {
			@media (max-width: 500px) {
				margin-top: 40px;
			}
		}
	}

	&_archive {
		#{$b}__item {
			margin-bottom: 10px;
		}

		#{$b}__sort {
			margin-bottom: 25px;
		}

		#{$b}__manage {
			top: -15px;
		}
	}

	&__list {
		@extend .common__list-nostyle;
	}

	&__item {
		position: relative;
		
		display: none;
		min-height: 80px;
		padding: 10px 15px;
		margin: -10px -15px 40px;
		
		border-radius: 5px;
		border: 1px solid transparent;

		&:hover {
			#{$b}__manage {
				display: block;
			}
		}

		&:first-child {
			#{$b}__button_first {
				display: none;
			}

			#{$b}__button_up {
				display: none;
			}
		}

		&:last-child {
			#{$b}__button_down {
				display: none;
			}
		}

		&_current {
			position: relative;
			
			background: #FBE2BD;

			#{$b}__button_current {
				display: none;
			}
		}

		&_geek {
			border-color: rgba(darken(#33aaff, 10), .75);
		}

		&_sortable {
			border: 1px dashed #ddd;
			background: rgba(#eee, .3);
			opacity: 0.7;
		}

		&_geek-light {
			#{$b}__geek {
				display: inline-block;
			}
		}
	}

	&__title {
		margin-right: 60px;
		
		border-color: rgba(0, 0, 0, .2);

		color: #000;
		font-size: 1.25rem;
		font-weight: 700;
		font-family: $serif;
	}

	&__info {
		margin-top: 4px;
		margin-bottom: 3px;
		
		color: #666;
		font-size: 0.85rem;
		letter-spacing: 1px;
	}

	&__desc {
		margin-bottom: 5px;
	}	

	&__status {
		margin-top: 40px;
	}

	&__body {
		overflow: hidden;
		margin-bottom: 18px;
	}

	&__footer {
		margin-top: -15px;
	}

	&__light {
		display: none;
		
		font-size: 0.9rem;
	}

	&__image[style] {
		float: right;
		
		width: 100px;
		height: 100px;
		margin-left: 5px;
		margin-bottom: 5px;
		
		border-radius: 1px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__image-hidden {
		display: none;
	}

	&__full {
		display: none;
		padding: 5px 10px;
		margin: 10px 0 25px;
		overflow: hidden;
		
		background: rgba(200, 200, 200, .2);
		border-radius: 3px;
	}

	&__manage {
		position: absolute;
	    top: -26px;
	    right: 0;
	    left: 0;
	    	
		display: none;
		height: 26px;
		padding-top: 4px;
		
		font-size: 0;

	    text-align: right;
	    
	    @media (max-width: 500px) {
	    	top: -50px;
	    }
	}

	&__mobile-buttons {
		display: none;
	}

	&__button {
	    display: inline-block;
	    height: 18px;
	    padding: 0 5px;
	    margin-left: 7px;
	    margin-top: 4px;
		
	    background-color: #F3A820;
	    border-radius: 3px;
	    opacity: 0.9;
		
	    color: #333;
	    font-size: 14px;
	    line-height: 16px;
	    
		text-decoration: none;
	    text-align: center;
	    vertical-align: middle;
	    
	    transition: all 300ms;
	    
	    &:hover {
	    	opacity: 1;
	    	
	    	color: #111;

	    	transition: all 0ms;
	    }
	    
	    &_del {
	    	background: #ff3333;
	    	
	    	&:after {
	    		content: 'удалить';
	    	}
	    }

	    &_archive {
	    	background: #c1c1c1;
	    	
	    	&:after {
	    		content: 'в архив';
	    	}
	    }

	    &_restore {
	    	background: #33cc33;
	    	
	    	&:after {
	    		content: 'восстановить';
	    	}
	    }

	    &_togeek {
	    	background: #33aaff;
	    	
	    	&:after {
	    		content: 'в гиковский выпуск';
	    	}
	    }

	    &_ingeek {
	    	background: #33aaff;
	    	
	    	color: rgba(255, 255, 255, .85);
	    	
	    	&:hover {
	    		color: #fff;
	    	}

	    	&:after {
	    		content: 'гиковское';
	    	}
	    }

	    &_first {
	    	background: #11ee66;
	    	
	    	&:after {
	    		content: 'сделать первой';
	    	}
	    }

	    &_current {
	    	&:after {
	    		content: 'сделать текущей';
	    	}
	    }

	    &_up {
		    height: 16px;
			
			background-color: #fff;
		    border: 1px solid #333;
		    
		    color: #333;
		    line-height: 15px;

	    	&:after {
	    		content: 'вверх';
	    	}

	    	&:active {
	    		border-color: #ccc;
	    	}
	    }

	    &_down {
	    	height: 16px;
			
			background-color: #fff;
		    border: 1px solid #333;
		    
		    color: #333;
		    line-height: 15px;
		    
	    	&:after {
	    		content: 'вниз';
	    	}

	    	&:active {
	    		border-color: #ccc;
	    	}
	    }
	}

	&__sort {
		display: none;
		margin-bottom: 45px;
	}

	&__full-loader {
		padding: 30px 0;
		
		color: #999;
		font-family: $serif;
		font-style: italic;
		
		text-align: center;
	}

	&__handler {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 35px;
		
		width: 150px;
		
		cursor: move;
	}

	&__info-stat {
		display: inline-block;
		
		padding: 1px 0;
		margin-top: 2px;
		margin-left: 3px;
		
		border-bottom: 1px solid transparent;
		
		color: #666;
		fill: #aaa;
		font-size: 14px;
		
		&:hover {
			fill: lighten(#e05020, 5);
		}
	}

	&__geek {
		display: none;
		margin-left: 5px;
		margin-right: 3px;
	}

	&__likes {
		// nothing here :)
	}

	&__comments {		
		margin-right: 4px;
	}
}			