html,
body {
	margin: 0;
	padding: 0;
}

html {
	font-family: "PT Sans", Arial, sans-serif;
}

body {
	padding: 1rem 2rem;
}

hr {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	clear: both;
}

a,
.pseudo {
	color: hsla(200, 90%, 30%, 1);
	fill: hsla(200, 90%, 30%, 1);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: hsla(200, 50%, 30%, 0.3);
	text-decoration: none;
	transition: color 0.3s, border-bottom-color 0.3s;
}

.pseudo,
a.pseudo {
	cursor: default;
	border-bottom-style: dashed;
}

a:hover,
.pseudo:hover {
	color: #e05020;
	fill: #e05020;
	border-bottom-color: rgba(224, 80, 32, 0.9);
	transition: color 0s, border-bottom-color 0s;
}

p {
	margin: 0;
	margin-top: 0.2em;
	margin-bottom: 0.8em;
	line-height: 1.5em;
}

.no-break {
	white-space: nowrap;
}

.app {
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 60rem) {
	body {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}

/* select */
.select {
	font-size: 0.8em;
	position: relative;
	display: inline-block;
	text-transform: lowercase;
	cursor: default;

	&:focus {
		outline: none;
	}

	&__current:hover {
		background: hsla(200, 90%, 90%, 0.3);
	}

	&__current-value {
		border-bottom-width: 1px;
		border-bottom-style: dashed;
	}

	&__items {
		overflow: hidden;
		color: #000;
		background: #fff;
		border-radius: 0.4em;
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
		position: absolute;
		top: 1.4em;
		padding: 0;

		list-style: none;
		list-style-position: inside;
		margin: 0;
		z-index: 2;
	}

	&__item {
		padding: 0.2em 0.4em;

		&:hover,
		&--selected {
			color: #e05020;
		}

		&--current {
			background: hsla(200, 50%, 80%, 0.5);
		}
	}

	&__item + &__item {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
}

/* icon */

.icon {
	width: 16px;
	height: 16px;
	vertical-align: -0.1em;

	&-svg {
		width: 16px;
		height: 16px;
		vertical-align: -0.1em;
	}
}

/* inline-button */
.inline-button {
	background: none;
	font: inherit;
	border: none;
	margin: 0;
	padding: 0;
	line-height: 1.2em;
}

/* not-found */

.not-found {
	text-align: center;

	&__header {
		font-size: 6rem;
		margin-bottom: 0;
		line-height: 1em;
	}

	&__text {
		margin-bottom: 4rem;
	}
}

/* notifications */

.notifications {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 101;
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	&__item {
		background: white;
		min-width: 18rem;
		max-width: 50vw;
		box-sizing: border-box;
		padding: 0.5rem 1.5rem 0.5rem 0.8rem;
		margin: 0.5rem;
		box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.2);
		position: relative;
	}

	&__item + &__item {
		margin-top: 0.2rem;
	}

	&__item-level-default {
		background: hsla(40, 70%, 90%, 1);
		color: #000;
	}

	&__item-level-success {
		background: hsla(100, 60%, 70%, 1);
		color: #000;
	}

	&__item-level-error {
		background: hsla(10, 90%, 60%, 1);
		color: #fff;
	}

	&__close-item {
		position: absolute;
		top: -0.1rem;
		right: 0.2rem;
		font-size: 1.5rem;
		line-height: 1.5rem;
		cursor: default;
	}

	&__item:not(:hover) &__close-item {
		opacity: 0.2;
	}
}

/* sorter */

.sorter {
	font-size: 0.9em;

	&__item {
		display: flex;
		flex-direction: row;
		align-items: center;
		border-top: 2px dashed transparent;
		border-bottom: 2px dashed transparent;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-left: -1rem;
		width: 100%;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	@media screen and (max-width: 60rem) {
		&__item {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			margin-left: -0.5rem;
		}
	}

	&__item-link {
		color: #000;
	}

	&__item-current {
		background-color: hsla(40, 90%, 90%, 0.7);
	}

	&__item-controls {
		font-size: 0.9em;
		transition: opacity 0s;
	}

	@media (hover: hover) {
		&__item-content:not(:hover) &__item-controls {
			opacity: 0;
			transition: opacity 0.3s;
		}
	}

	@media (hover: none) {
		&__item-content:not(:hover) &__item-controls {
			opacity: 0.8;
			transition: opacity 0.3s;
		}
	}

	&__item-handle {
		cursor: grab;
		font-size: 1.5em;
		padding: 0.2em 0 0.2em 0.2em;
	}

	&__item-handle:not(:hover) {
		opacity: 0.4;
	}

	&__item-feed {
		margin-right: 0.4em;
	}

	&__item-content {
		flex: 1;
	}

	&__item-header {
		font-size: 1.2em;
	}

	@media screen and (max-width: 40rem) {
		&__item-header {
			word-break: break-all;
		}
	}

	&__geek-indicator-svg {
		vertical-align: -0.05em;
		margin-left: -0.15em;
		color: hsla(200, 60%, 60%, 1);
		fill: hsla(200, 60%, 60%, 1);
		stroke: hsla(200, 60%, 60%, 1);
		width: 1em;
		height: 1em;
		display: inline-block;
	}

	&__item-original-link {
		margin-right: 0.4em;
	}

	&__item-timestamp {
		font-size: 0.9em;
		margin-right: 0.5em;
	}

	&__comments-link {
		opacity: 0.4;
		fill: rgba(0, 0, 0, 0.8);
		white-space: nowrap;
	}

	&__comments-icon {
		margin-right: 0;
	}
}

/* loading */

.loading {
	margin-left: 1em;
	font-size: 1.5em;
	opacity: 0.4;
	pointer-events: none;
	text-align: center;

	&__dots {
		display: inline-block;
		text-align: left;
		width: 1.8em;
	}
}

/* add-form-overlay */

.add-form-overlay {
	padding: 1rem;
	position: relative;
	border: 1px dashed transparent;
	transition: border-color 0.2s;

	&-expanded {
		border-color: rgba(0, 0, 0, 0.1);
		margin-bottom: 1rem;
	}

	&__control {
		font-size: 0.8em;
		position: absolute;
		right: 0rem;
		top: 0.2rem;
	}

	&-expanded &__control {
		right: 0.5rem;
	}
}

/* feed-label */

.feed-label {
	margin-right: 0.4em;
}

/* feeds */

.feeds {
	margin-top: 2rem;
	border-spacing: 1rem 0.5rem;

	&__item {
		margin-bottom: 2rem;
	}

	&__item-header {
		margin: 0;
		font-size: 1.4em;
		margin-bottom: 0.5rem;
		word-break: break-all;
		word-wrap: break-word;
	}

	&__updated-at {
		text-transform: lowercase;
		margin-right: 0.5em;
	}

	&__remove-feed {
		text-transform: lowercase;
	}

	&__add-form {
		margin-top: 1em;
	}

	&__add-input,
	&__add-submit {
		font: inherit;
		color: inherit;
		border: 1px solid rgba(0, 0, 0, 0.2);
		background: none;
		font-size: 0.8em;
		padding: 0.2em 0.4em;
		margin-top: 0.2em;
	}

	&__add-input {
		max-width: 50em;
		min-width: 20em;
		margin-right: 0.2em;
	}

	&__add-submit {
		padding: 0.2em 1em;

		:disabled {
			opacity: 0.6;
			cursor: not-allowed;
		}
	}
}

/* navigation */

.navigation {
	margin: 0;
	padding: 0;

	&__separator {
		display: block;
		width: 100%;
	}

	&__item {
		display: inline-block;
		cursor: default;
		line-height: 1.8em;
	}

	&__item-link.active {
		border: none;
		pointer-events: none;
		color: #000;
	}

	&__item:not(:last-child):not(&__item_logout) {
		margin-right: 1rem;
	}

	&__item_logout {
		float: right;
	}

	&__scroll-toggle {
		vertical-align: -0.02em;
		color: hsla(200, 0%, 40%, 0.5);
		fill: hsla(200, 0%, 40%, 0.5);
		stroke: hsla(200, 0%, 40%, 0.5);
	}

	&__scroll-toggle-active {
		color: hsla(200, 90%, 30%, 1);
		fill: hsla(200, 90%, 30%, 1);
		stroke: hsla(200, 90%, 30%, 1);
	}

	&__theme-switcher {
		line-height: 1.2em;
		height: 1.2em;
		width: 1.2em;
	}

	&__theme-switcher-icon-svg {
		height: 1.2em;
		width: 1.2em;
		vertical-align: -0.2em;
	}

	@media screen and (max-width: 28em) {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		&__separator {
			flex: 1 0 100%;
			display: block;
		}

		&__item_logout {
			margin-bottom: 1em;
			flex: 1 0 100%;
			float: none;
		}
	}
}

/* login-form */

.login-form {
	margin-left: auto;
	margin-right: auto;
	width: 17rem;
	margin-top: 2rem;

	&__user,
	&__password {
		display: block;
		font: inherit;
		color: inherit;
		background: none;
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 0.2em 0.4em;
		width: 17rem;
	}

	&__password {
		margin-top: 0.5em;
	}

	&__submit {
		background: none;
		color: inherit;
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 0.2em 1.2em;
		font: inherit;
		margin-top: 0.5em;
	}

	&__submit:disabled {
		cursor: not-allowed;
		opacity: 0.6;
	}

	&__denied {
		text-align: center;
		color: red;
		margin-top: 1em;
		font-size: 1.4em;
	}
}

/* add-form */

.add-form {
	max-width: 24rem;
	margin-left: auto;
	margin-right: auto;

	&__manual-switch {
		text-align: center;
		font-size: 0.8rem;
		text-transform: lowercase;
		margin-bottom: 3rem;
	}

	&__bookmarklet {
		text-align: center;
		margin-top: 5rem;
		font-size: 0.9em;
	}

	&__bookmarklet-text {
		font-size: 0.85em;
		opacity: 0.6;
	}

	&__article-url,
	&__article-manual-link,
	&__article-title,
	&__article-description,
	&__submit {
		font: inherit;
		font-size: 0.8em;
		padding: 0.2em 0.4em;
		color: inherit;
		border: 1px solid rgba(0, 0, 0, 0.1);
		background: none;
	}

	&__auto {
		display: flex;
	}

	&__article-url {
		flex: 1;
	}

	&__submit {
		padding: 0.2em 1em;
	}

	&__submit:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}

	&__submit-auto {
		margin-left: 0.2em;
	}

	&__article-manual-link,
	&__article-title,
	&__article-description {
		margin: 0;
		margin-bottom: 0.5em;
		display: block;
		width: 100%;
	}

	&__article-description {
		min-height: 8em;
		resize: vertical;
	}

	&__submit-manual {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	&__posting {
		text-align: center;
		opacity: 0.8;
	}

	&__drag-message {
		opacity: 0.4;
		font-size: 0.8em;
		text-align: center;
	}
}

/* page */

.page {
	&__header {
		margin-top: 0.4em;
		margin-bottom: 0.2rem;
	}

	&__footer {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}

/* header */
.header {
	&__title {
		font-size: 1.8em;
		margin: 0;
	}

	@media screen and (max-width: 28rem) {
		&__title {
			font-size: 1.6em;
		}
	}

	&__navigation {
		margin-top: 0.2em;
		margin-bottom: 1em;
	}
}

/* listing-actions */

.listing-actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2rem;

	&-all {
		margin-bottom: 0.3rem;
	}

	&__news-recent-button {
		background: none;
		border: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		color: inherit;
		font: inherit;
		font-size: 0.8em;
		padding: 0.2rem 0.4rem;
		border-radius: 0.2em;
		text-transform: lowercase;
		margin-right: 0.4em;

		&:focus,
		&::-moz-focus-inner {
			outline: none;
			border: none;
		}

		&-active {
			background: hsla(200, 60%, 60%, 0.6);
			color: #fff;
		}
	}

	@media (hover: hover) {
		&__news-recent-button:hover,
		&__news-recent-button:focus {
			background: hsla(200, 60%, 60%, 0.1);
		}

		&__news-recent-button-active:hover,
		&__news-recent-button-active:focus {
			background: hsla(200, 60%, 60%, 0.8);
		}
	}

	&__news-type-select {
		.select__current {
			padding: 0.2em 0.4em;
			border-radius: 0.2em;
		}

		&-selected .select__current {
			background-color: hsla(200, 60%, 60%, 0.6);
			color: #fff;
		}
	}
}

/* title */

.title {
	font-family: "PT Serif", Georgia, sans-serif;
}

/* news */

.deleted-news {
	margin-top: 3rem;
}

/* sortings-list */

.sortings-list {
	margin: 0;
	padding: 0;
	font-size: 0.8rem;
	text-transform: lowercase;
	letter-spacing: 0.02em;

	&__item {
		display: inline-block;
		cursor: default;
		font-weight: bold;
	}

	&__item-input {
		display: none;
	}

	&__item-content {
		border-bottom: 1px dashed transparent;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		opacity: 0.5;

		&:hover,
		&:focus {
			outline: none;
			opacity: 1;
		}

		&::-moz-focus-inner {
			outline: none;
			border: none;
		}
	}

	&__item-content:not(&__current-item-content) {
		border-bottom-color: rgba(0, 0, 0, 0.3);

		&:hover,
		&:focus {
			color: #e05020;
			fill: #e05020;
		}
	}

	&__current-item-content {
		opacity: 1;
		font-weight: bold;
	}

	&__item:not(:last-child) {
		margin-right: 1rem;
	}

	@media screen and (max-width: 38rem) {
		&__item {
			display: block;
			text-align: right;
		}

		&__item:not(:last-child) {
			margin-right: 0rem;
		}
	}
}

/* post-controls */

.post-controls {
	&__control {
		padding: 0.1em 0.5em;
		font-size: 0.8em;
		border-radius: 0.2em;
		cursor: default;
		transition: opacity 0s;
		color: #fff;
		white-space: nowrap;
		display: inline-block;
		margin-bottom: 0.2em;

		&:not(:hover) {
			opacity: 0.7;
			transition: opacity 0.3s;
		}

		&:not(:last-child) {
			margin-right: 0.2em;
		}

		&-make-current {
			background-color: hsla(40, 60%, 60%, 1);
		}

		&-make-geek {
			background-color: hsla(200, 60%, 60%, 1);
		}

		&-make-ungeek {
			background-color: hsla(200, 60%, 60%, 1);
		}

		&-make-first {
			background-color: hsla(120, 60%, 40%, 1);
		}

		&-archive {
			background-color: hsla(0, 00%, 60%, 1);
		}

		&-remove {
			background-color: hsla(20, 100%, 50%, 1);
		}

		&-restore {
			background-color: hsla(100, 60%, 40%, 1);
		}
	}
}

/* post */

.post {
	clear: both;
	position: relative;
	padding: 0.5rem 1rem 1.5rem 1rem;
	margin-left: -1rem;
	width: 100%;
	border-top: 2px dashed transparent;
	border-bottom: 2px dashed transparent;

	@media screen and (max-width: 60rem) {
		& {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			margin-left: -0.5rem;
		}
	}

	&-active {
		background: hsla(40, 90%, 90%, 0.7);
	}

	&__drag-handle {
		position: absolute;
		height: 100%;
		width: 15rem;
		max-width: 20vw;
		z-index: 1;
		right: 0;
		cursor: grab;
	}

	@media (hover: hover) {
		& &__controls {
			opacity: 0;
		}

		&:hover &__controls {
			opacity: 1;
			transition: opacity 0.3s;
		}
	}

	&__title {
		font-size: 1.3em;
		margin: 0;
		margin-bottom: 0.2em;
	}

	@media screen and (max-width: 40rem) {
		&__title {
			word-break: break-all;
		}
	}

	&__empty-title {
		opacity: 0.5;
	}

	&__snippet {
		max-width: 100%;
		white-space: normal !important;
	}

	&__title-link {
		color: #000;
		border-bottom-color: rgba(0, 0, 0, 0.1);
	}

	&__title-geek-icon-svg {
		vertical-align: -0.05em;
		margin-left: -0.15em;
		width: 1em;
		height: 1em;
		color: hsla(200, 60%, 60%, 1);
		fill: hsla(200, 60%, 60%, 1);
		stroke: hsla(200, 60%, 60%, 1);
	}

	&__meta {
		letter-spacing: 0.02em;
		font-size: 0.85rem;
		opacity: 0.9;
	}

	&__timestamp {
		opacity: 0.8;
		margin-right: 0.5rem;
	}

	&__image-container {
		float: right;
		width: 7em;
		height: 7em;
		margin-left: 1em;
		background-position: center center;
		background-size: cover;
	}

	&__detailed-link {
		font-size: 0.9em;
		opacity: 0.8;
	}

	&__comments-link {
		white-space: nowrap;
	}

	&__comments-link:not(:hover) {
		border-bottom: none;
		color: hsl(0, 0%, 50%);
		fill: hsl(0, 0%, 50%);
		border-bottom-color: hsla(0, 0%, 50%, 0.6);
	}

	&__comments-icon {
		margin-right: 0.2em;
		vertical-align: -0.15em;
	}

	&__original-link {
		margin-right: 0.4em;
	}

	&__full-content {
		position: relative;
		z-index: 2;
		margin-top: 0.6rem;
		background: rgba(0, 0, 0, 0.03);

		display: flex;
		flex-direction: row;
	}

	&__full-content .loading {
		padding: 0.5rem;
		flex: 1;
	}

	&__full-content-content {
		padding: 1rem;
		max-width: calc(100% - 1.5rem);
		box-sizing: border-box;
		flex: 1;
		overflow: auto;
	}

	&__full-content-hide {
		width: 1.5rem;
		font-size: 2rem;
		padding: 0.5rem;
		color: rgba(0, 0, 0, 0.2);
		background: rgba(0, 0, 0, 0.03);
		cursor: default;
		flex: 0;

		&:hover {
			background: rgba(0, 0, 0, 0.06);
		}
	}
}

/* full-post */

.full-post {
	&__title {
		font-size: 2em;
		margin-bottom: 0.5em;
	}

	&__meta {
		margin-bottom: 1.2rem;
	}

	&__break {
		opacity: 0.3;
	}

	&__comments {
		margin-top: 2rem;
	}
}

/* article-content */

.article-content {
	position: relative;
	box-sizing: border-box;
	max-width: 100%;
	overflow: scroll;

	img {
		max-width: 100%;
		object-fit: scale-down;
	}

	code,
	pre {
		overflow: scroll;
	}

	figure {
		margin: 0;
	}
}

/* drop */
.drop {
	&-item {
		background: hsla(200, 70%, 70%, 0.2);
		opacity: 0.1;
		transition-property: opacity;
		transition-delay: 0.02s;
	}

	&-top {
		border-top: 2px dashed hsla(200, 60%, 40%, 1);
	}
	&-bottom {
		border-bottom: 2px dashed hsla(200, 60%, 40%, 1);
	}
}

/* touch-drag */
.touch-drag {
	&-item__start {
		box-shadow: 0px 0px 1.5em rgba(0, 0, 0, 0), 0px 0px 2em rgba(0, 0, 0, 0);
		background: rgba(0, 0, 0, 0);
	}

	&-item {
		user-select: none;
		pointer-events: none;
		position: relative;
		z-index: 1000;
		box-shadow: 0px 0px 1.5em rgba(0, 0, 0, 0.6), 0px 0px 2em rgba(0, 0, 0, 0.2);
		background: hsla(200, 70%, 80%, 0.5);
		transition: box-shadow 0.5s, background 0.5s;
	}

	&-target-top {
		border-top: 2px dashed hsla(200, 60%, 40%, 1);
	}

	&-target-bottom {
		border-bottom: 2px dashed hsla(200, 60%, 40%, 1);
	}
}

/* NIGHT THEME */

html[data-theme="night"] {
	background: hsl(40, 10%, 12%);
	color: #ddd;

	a,
	.pseudo {
		color: hsla(200, 60%, 60%, 1);
		fill: hsla(200, 60%, 60%, 1);
		border-bottom-color: hsla(200, 60%, 60%, 0.6);
	}

	a:hover,
	.pseudo:hover {
		color: rgba(224, 80, 72, 1);
		fill: rgba(224, 80, 72, 1);
		border-bottom-color: rgba(224, 80, 72, 0.4);
	}

	hr {
		border-bottom: 1px solid rgba(255, 255, 255, 0.27);
	}

	/* sorter */

	.sorter__item-link {
		color: #ddd;
	}

	.sorter__comments-link {
		opacity: 0.7;
		fill: rgba(255, 255, 255, 0.8);
	}

	.sorter__item-current {
		background: hsla(40, 90%, 90%, 0.2);
	}

	/* add-form-overlay */

	.add-form-overlay-expanded {
		border-color: rgba(255, 255, 255, 0.4);
	}

	/* feeds */

	.feeds__add-input,
	.feeds__add-submit {
		border: 1px solid rgba(255, 255, 255, 0.4);
	}

	/* navigation */

	.navigation__item-link.active {
		color: #ddd;
	}

	.navigation__scroll-toggle {
		color: hsla(200, 60%, 60%, 1);
	}

	.navigation__scroll-toggle {
		color: hsla(200, 0%, 70%, 0.8);
		fill: hsla(200, 0%, 70%, 0.8);
		stroke: hsla(200, 0%, 70%, 0.8);
	}

	.navigation__scroll-toggle-active {
		color: hsla(200, 60%, 60%, 1);
		fill: hsla(200, 60%, 60%, 1);
		stroke: hsla(200, 60%, 60%, 1);
	}

	/* login-form */

	.login-form__user,
	.login-form__password,
	.login-form__submit {
		border: 1px solid rgba(255, 255, 255, 0.4);
	}

	/* add-form */

	.add-form__article-url,
	.add-form__article-manual-link,
	.add-form__article-title,
	.add-form__article-description,
	.add-form__submit {
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	/* listing-actions */

	@media (hover: hover) {
		.listing-actions__news-recent-button:hover,
		.listing-actions__news-recent-button:focus {
			background: hsla(200, 60%, 60%, 0.2);
		}

		.listing-actions__news-recent-button-active:hover,
		.listing-actions__news-recent-button-active:focus {
			background: hsla(200, 60%, 60%, 0.7);
		}
	}

	/* sortings-list */

	.sortings-list__item-content:not(.sortings-list__current-item-content) {
		border-bottom-color: rgba(255, 255, 255, 0.9);
	}

	.sortings-list__item-content:not(.sortings-list__current-item-content):hover {
		border-bottom-color: #e05020;
	}

	/* post */

	.post-active {
		background: hsla(40, 90%, 90%, 0.2);
	}

	.post__title-link {
		color: #ddd;
		border-bottom-color: rgba(255, 255, 255, 0.4);
	}

	.post__full-content {
		background: rgba(255, 255, 255, 0.23);
	}

	.post__full-content-hide {
		color: rgba(255, 255, 255, 0.2);
		background: rgba(255, 255, 255, 0.13);
	}

	.post__full-content-hide:hover {
		background: rgba(255, 255, 255, 0.26);
	}

	/* full-post */

	.full-post__comments {
		background: #fff;
		padding: 1rem;
	}

	/* drop */
	.drop-top {
		border-top-color: hsla(200, 60%, 70%, 1);
	}
	.drop-bottom {
		border-bottom-color: hsla(200, 60%, 70%, 1);
	}

	/* touch-drag */
	.touch-drag-item__start {
		background: rgba(0, 0, 0, 0);
	}

	.touch-drag-item {
		box-shadow: none;
		background: hsla(200, 70%, 80%, 0.5);
	}

	.touch-drag-target-top {
		border-top: 2px dashed hsla(200, 60%, 90%, 1);
	}

	.touch-drag-target-bottom {
		border-bottom: 2px dashed hsla(200, 60%, 90%, 1);
	}

	.gitter-open-chat-button {
		color: #fff;
	}
}

/* switch-transition */
.switch-transition {
	transition: color 0.7s ease-in-out, border-color 0.7s ease-in-out,
		background-color 0.7s ease-in-out, fill 0.7s ease-in-out;
}

@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic");
