$b: '.sorter';

#{$b} {
	@extend .common__list-nostyle;
	
	text-align: right;
	
	&__item {
		display: inline-block;
		
		margin-left: 15px;
		
		font-size: 12px;
	}

	&__link {
		border-color: rgba(162, 162, 162, 0.2);

		color: #919191;
		font-weight: 700;
		
		&:hover {
			border-color: rgba(162, 162, 162, 0.7);
		
			color: #333;
		}

		&_active {
			&, &:hover {
				color: #000;
				
				border-color: transparent;
			}
		}
	}		
}